.destaque{
    font-weight: bold;
}

body{
    background-color: rgb(241, 206, 228);
}

.corpo{
    border: 5px solid;
    border-radius: 15px;
    background-color: rgb(223, 168, 193);
}

img{
    border: 5px solid rgb(0, 0, 0);
}

a{
    color: rgb(109, 7, 243);
    text-decoration: none;
}

a:hover{
    cursor: pointer;
    background-color: rgb(183, 163, 228);
    font-size: 1.2rem;
    transition: 0.6s;
    color: rgb(103, 57, 122);
}

a:visited{
    color: rgb(88, 33, 103);
}